body{
    margin:0;
    background: #111111;
}

.header{
    font-family: Arial, Helvetica, sans-serif;
    color:#e6e6e6;
    text-align: center;
    margin-top:25px;
    margin-bottom: 100px;
}

.btnSair {
    background-color: #ff9100;
    color: #e6e6e6;
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 2px;
    float: left;
}